<h1>new user</h1>
<%= form_tag ("/welcome") %>
  <%= label_tag(:mail, "ingresar new mail")  %>
  <%= text_field_tag (:mail) %>
  <br>
  <%= label_tag(:password, "ingresar password")  %>
  <%= text_field_tag (:password) %>
  <br>
<%= submit_tag ("Submit") %>
